/* Rover Page Variables */
:root {
  --radial-bg: black;
  --radial-border: #ccc;
  --knob-bg: lightblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --radial-bg: #000000;
    --radial-border: #333;
    --knob-bg: #5eb3d6;
  }
}

/* Manual Dark Mode Override */
body.dark-mode {
  --radial-bg: #000000;
  --radial-border: #333;
  --knob-bg: #5eb3d6;
}

#controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

#radial {
  width: 300px;
  height: 300px;
  background-color: var(--radial-bg);
  border: 2px solid var(--radial-border);
  border-radius: 50%;
  position: relative;
}

#knob {
  width: 40px;
  height: 40px;
  background-color: var(--knob-bg);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
}