#controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

#radial {
  width: 300px;
  height: 300px;
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
}

#knob {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
}