body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
padding: 5px 10px;
background-color: #f9f9f9;
color: #333;
max-width: 1000px;  
margin:auto;     
}

h1 {
text-align: center;
margin-bottom: 2rem;
font-size: medium;
padding-top: 0px;
font-size: 2rem;
}

table {
width: 100%;
border-collapse: collapse;
margin-bottom: 1rem;
}

th, td {
border: 1px solid #ccc;
padding: 0.5rem 1rem;
text-align: left;
}

th {
background-color: #eee;
}

input, button {
padding: 0.4rem 0.8rem;
margin-right: 0.5rem;
margin-top: 0.5rem;
}

button {
cursor: pointer;
}

#statusTable thead tr th, #statusTable tbody tr td {
width: 33%;
text-align: center;
}

#itemTable thead tr th, #itemTable tbody tr td {
text-align: center;
}

.waiting {
color: #333;
}

.dots::after {
    content: '';
    animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
    0%   { content: ''; }
    33%  { content: '.'; }
    66%  { content: '..'; }
    100% { content: '...'; }
}

.assignDiv {
    display: flex;
    align-items: center;
}

.waiting {
    margin-right: 10px;
}
